.enhanced-upload {
  padding: 0 40px;

  .el-card {
    margin-bottom: 40px;
  }

  .upload-card {
    padding: 20px 40px;

    .upload-form {

      .submit-button {
        width: calc(100%);
      }
    }
  }

  .el-pagination {
    margin-top: 20px;
    justify-content: flex-end;
  }
}