.sample-count-line-chart-container {
  padding: 0 40px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  margin: 0 40px;
  transition: all 0.3s ease;
  height: auto;
  &:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
  }

  .chart {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }
  }

  // 空状态样式
  &.empty-state {
    .chart {
      background-color: #f9f9f9;

      // 添加虚线网格背景
      background-image:
              linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
              linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
      background-size: 20px 20px;
    }
  }
}