.form-content {
  max-height: calc(100% - 80px);
  overflow-y: auto;
  .user-form {
    margin-top: 20px;
  }
  /* WebKit (Chrome, Safari, newer versions of Edge) */
  &::-webkit-scrollbar {
    width: 10px; /* 滚动条的宽度 */
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* 滚动条轨道的背景颜色 */
  }

  &::-webkit-scrollbar-thumb {
    background: #888; /* 滑块的背景颜色 */
    border-radius: 5px; /* 滑块的圆角 */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; /* 滑块悬停时的背景颜色 */
  }

  /* Firefox */
  scrollbar-width: thin; /* 滚动条的宽度 */
  scrollbar-color: #888 #f1f1f1; /* 滑块和轨道的颜色 */

  .el-input {
    max-width: calc(100% - 100px);
  }
}

.submit-content {
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .el-button {
    width: calc(100% / 2 - 20px);
  }
  .el-button:hover {
    opacity: 0.98;
  }
  border-top: 1px solid #ccc;
}

.avatar-upload {
  margin: 30px 0;
  text-align: center;
}

.avatar {
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.default-avatar {
  background-color: #f0f2f5;
  border: 2px dashed #d9d9d9;
}

.form-item {
  margin-bottom: 25px;
}

.error-message {
  color: #ff4949;
  font-size: 13px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;

  .el-icon-warning {
    color: #ff4949;
  }
}

